*{
    border:1px solid #eee;
    box-sizing: border-box;
}

body{
    background-color: #fafafa;
    color: brown;
    margin: 0;
    padding:0;

}

.h1{
    text-align: center;
}

.text{
    text-align: justify;
}